[main]

dont_bundle = 
    missionsky/leaflet/0.7.3/leaflet.js

[IE conditional]


[depends]

main = base/main
    missionsky/leaflet/0.7.3/leaflet.js

[groups]

main =
    missionsky/jquery/jquery-1.11.1.js
    missionsky/jquery/jquery.event.drag-2.2.js
    missionsky/jquery/jquery-ui-1.10.4.custom.js
    missionsky/bootstrap/2.0.2/bootstrap.js
    missionsky/slickgrid/2.2.0/slick.core.js
    missionsky/slickgrid/2.2.0/slick.grid.js
    missionsky/slickgrid/controls/slick.columnpicker.js
    missionsky/highcharts/4.0.1/highcharts.js
    missionsky/highcharts/4.0.1/exporting.js
    missionsky/highcharts/4.0.1/highcharts-3d.js
    missionsky/arcgis/3.9/init.js
    missionsky/custom/data_show.js

    missionsky/bootstrap/2.0.2/css/bootstrap.css
    missionsky/leaflet/0.7.3/leaflet.css
    missionsky/slickgrid/2.2.0/slick.grid.css
    missionsky/slickgrid/controls/slick.columnpicker.css
    missionsky/custom/data_show.css
    missionsky/jquery/jquery-ui-1.10.4.custom.css